* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#message {
  height: 20%;
  text-align: center;
  font-size: 46px;
  padding: 40px;
}

#game {
  background: rgb(98, 132, 239);
  border: 1px solid #555;
  width: 1024px;
  height: 768px;
  margin: auto;
}


.card {
  width: 142px;
  height: 212px;
  float: left;
  margin: 20px 55px;
  border: 3px solid white;
  border-radius: 10px;
  background-size: 84%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  box-shadow: 1px 3px 9px -3px;
}

.card.selected {
  border: 3px solid gold;
  border: 3px solid gold;
  box-shadow: 4px 14px 30px -1px;
  transform: translateY(-10px);
}

.card.face-down {
  background-image: url("../assets/grammy.jpg");
}

.card.face-up.camping {
  background-image: url("../assets/camping.jpg");
}
.card.face-up.candy {
  background-image: url("../assets/candy.jpg");
}
.card.face-up.menorah {
  background-image: url("../assets/menorah.jpg");
}
.card.face-up.painting {
  background-image: url("../assets/painting.jpg");
}
.card.face-up.park {
  background-image: url("../assets/park.jpg");
}
.card.face-up.reading {
  background-image: url("../assets/reading.jpg");
}
.card.face-up.bath {
  background-image: url("../assets/bath.jpg");
}
