* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#message {
  height: 20%;
  text-align: center;
  font-size: 46px;
  padding: 40px;
}

#game {
  background: rgb(98, 132, 239);
  border: 1px solid #555;
  width: 1024px;
  height: 768px;
  margin: auto;
}


.card {
  width: 142px;
  height: 212px;
  float: left;
  margin: 20px 55px;
  border: 3px solid white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-size: 84%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  -webkit-box-shadow: 1px 3px 9px -3px;
          box-shadow: 1px 3px 9px -3px;
}

.card.selected {
  border: 3px solid gold;
  -webkit-box-shadow: 4px 14px 30px -1px;
          box-shadow: 4px 14px 30px -1px;
  -webkit-transform-origin: 50% 70%;
      -ms-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: wiggle 0.4s ease-in-out 0ms infinite;
          animation: wiggle 0.4s ease-in-out 0ms infinite;
}

.card.matched {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spinAway ease-in 1s;
          animation: spinAway ease-in 1s;
  -webkit-transform: rotate(1280deg) translateY(-10px) scale(0);
      -ms-transform: rotate(1280deg) translateY(-10px) scale(0);
          transform: rotate(1280deg) translateY(-10px) scale(0);
}

.card.face-down {
  background-image: url("../assets/grammy.jpg");
}

.card.face-up.camping {
  background-image: url("../assets/camping.jpg");
}
.card.face-up.candy {
  background-image: url("../assets/candy.jpg");
}
.card.face-up.menorah {
  background-image: url("../assets/menorah.jpg");
}
.card.face-up.painting {
  background-image: url("../assets/painting.jpg");
}
.card.face-up.park {
  background-image: url("../assets/park.jpg");
}
.card.face-up.reading {
  background-image: url("../assets/reading.jpg");
}
.card.face-up.bath {
  background-image: url("../assets/bath.jpg");
}




@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) translateY(-10px);
            transform: rotate(0deg) translateY(-10px);
  }
  25% {
    -webkit-transform: rotate(-1deg) translateY(-10px);
            transform: rotate(-1deg) translateY(-10px);
  }
  50% {
    -webkit-transform: rotate(0deg) translateY(-10px);
            transform: rotate(0deg) translateY(-10px);
  }
  75% {
    -webkit-transform: rotate(1deg) translateY(-10px);
            transform: rotate(1deg) translateY(-10px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(-10px);
            transform: rotate(0deg) translateY(-10px);
  }
}




@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) translateY(-10px);
            transform: rotate(0deg) translateY(-10px);
  }
  25% {
    -webkit-transform: rotate(-1deg) translateY(-10px);
            transform: rotate(-1deg) translateY(-10px);
  }
  50% {
    -webkit-transform: rotate(0deg) translateY(-10px);
            transform: rotate(0deg) translateY(-10px);
  }
  75% {
    -webkit-transform: rotate(1deg) translateY(-10px);
            transform: rotate(1deg) translateY(-10px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(-10px);
            transform: rotate(0deg) translateY(-10px);
  }
}

@-webkit-keyframes spinAway {
  0% {
    -webkit-transform: rotate(0deg) translateY(-10px) scale(1);
            transform: rotate(0deg) translateY(-10px) scale(1);
  }
  100% {
    -webkit-transform: rotate(1280deg) translateY(-10px) scale(0);
            transform: rotate(1280deg) translateY(-10px) scale(0);
  }
}

@keyframes spinAway {
  0% {
    -webkit-transform: rotate(0deg) translateY(-10px) scale(1);
            transform: rotate(0deg) translateY(-10px) scale(1);
  }
  100% {
    -webkit-transform: rotate(1280deg) translateY(-10px) scale(0);
            transform: rotate(1280deg) translateY(-10px) scale(0);
  }
}

