body {
  margin: 0;
  padding: 0;
}

#cards {
  border: 1px solid #555;
  width: 1024px;
  height: 768px;
  margin: auto;
}


.card {
  border: 2px solid black;
  width: 212px;
  height: 212px;
  float: left;
  margin: 20px;
}
