<h1>Grammy Cards</h1>
<h2>"A memory development game for early childhood"</h2>
<div id="title-page-card" class="card face-down"></div>
<div id="select-mode">
  <div id="2-pairs">Play with 2 pairs</div>
  <div id="3-pairs">Play with 3 pairs</div>
  <div id="4-pairs">Play with 4 pairs</div>
</div>
