* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Schoolbell', cursive;
}

#load-font {
  visibility: hidden;
}

#title {
  text-align: center;
  font-size: 90px;
  color: white;
  padding: 0px;
  margin: 30px;
}

#subtitle {
  text-align: center;
  font-size: 40px;
  color: wheat;
  padding: 0px;
  margin: 30px;
}

#title-page-card {
  width: 290px;
  height: 440px;
  transform: rotate(-6deg);
}
#select-mode {
  padding: 70px;
  float: left;
}

.button {
  margin-bottom: 30px;
  font-size: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid;
  padding: 5px 22px;
  border-radius: 7px;
}

#select-mode #two-pairs {
  color: #17CA17;
}

#select-mode #three-pairs {
  color: #F72E53;
}

#select-mode #four-pairs {
  color: #D049EF;
}

.end #content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#end-page-card {
  width: 400px;
  height: 530px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -550px;
  transition: bottom 4s;
  animation: wiggle 0.4s ease-in-out 0ms infinite;
}

#end-page-card.appear {
  bottom: -70px;
}

#play-again {
  color: #1E8BDA;
  padding: 5px 22px;
}


#message {
  text-align: center;
  font-size: 46px;
  color: white;
  padding: 0px;
  margin: 25px;
}

#game {
  background: rgb(98, 132, 239);
  border: 1px solid #555;
  width: 1024px;
  height: 768px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.two-pairs #cards {
  height: 100%;
  display: flex;
  align-items: center;
}
.three-pairs #cards .card {
  margin: 33px 67px;
}

.card {
  width: 142px;
  height: 212px;
  float: left;
  margin: 20px 55px;
  border: 3px solid white;
  border-radius: 10px;
  background-size: 84%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  box-shadow: 1px 3px 9px -3px;
}

.select .card {
  width: 192px;
  height: 293px;
  margin: 16px 31px;
}

.play .card {
  width: 205px;
  height: 318px;
  margin: 33px 25px;
}

.card.selected {
  border: 3px solid gold;
  box-shadow: 4px 14px 30px -1px;
  transform-origin: 50% 70%;
  animation: wiggle 0.4s ease-in-out 0ms infinite;
}

.card.matched {
  transform-origin: 50% 50%;
  animation: spinAway ease-in 1s;
  transform: rotate(1280deg) translateY(-10px) scale(0);
}

.card.face-down {
  background-image: url("../assets/grammy.jpg");
}

.card.face-up.camping {
  background-image: url("../assets/camping.jpg");
}
.card.face-up.candy {
  background-image: url("../assets/candy.jpg");
}
.card.face-up.menorah {
  background-image: url("../assets/menorah.jpg");
}
.card.face-up.painting {
  background-image: url("../assets/painting.jpg");
}
.card.face-up.park {
  background-image: url("../assets/park.jpg");
}
.card.face-up.reading {
  background-image: url("../assets/reading.jpg");
}
.card.face-up.bath {
  background-image: url("../assets/bath.jpg");
}
.card.face-up.dressing-up {
  background-image: url("../assets/dressing-up.jpg");
}
.card.face-up.ice-cream {
  background-image: url("../assets/ice-cream.jpg");
}





@keyframes wiggle {
  0% {
    transform: rotate(0deg) translateY(-10px);
  }
  25% {
    transform: rotate(-1deg) translateY(-10px);
  }
  50% {
    transform: rotate(0deg) translateY(-10px);
  }
  75% {
    transform: rotate(1deg) translateY(-10px);
  }
  100% {
    transform: rotate(0deg) translateY(-10px);
  }
}

@keyframes spinAway {
  0% {
    transform: rotate(0deg) translateY(-10px) scale(1);
  }
  100% {
    transform: rotate(1280deg) translateY(-10px) scale(0);
  }
}
