* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#message {
  text-align: center;
  font-size: 46px;
  padding: 0px;
  margin: 30px;
}

#game {
  background: rgb(98, 132, 239);
  border: 1px solid #555;
  width: 1024px;
  height: 768px;
  margin: auto;
}


.card {
  width: 142px;
  height: 212px;
  float: left;
  margin: 20px 55px;
  border: 3px solid white;
  border-radius: 10px;
  background-size: 84%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  box-shadow: 1px 3px 9px -3px;
}

.select .card {
  width: 192px;
  height: 293px;
  margin: 16px 31px;
}

.play .card {
  width: 205px;
  height: 318px;
  margin: 33px 25px;
}

.card.selected {
  border: 3px solid gold;
  box-shadow: 4px 14px 30px -1px;
  transform-origin: 50% 70%;
  animation: wiggle 0.4s ease-in-out 0ms infinite;
}

.card.matched {
  transform-origin: 50% 50%;
  animation: spinAway ease-in 1s;
  transform: rotate(1280deg) translateY(-10px) scale(0);
}

.card.face-down {
  background-image: url("../assets/grammy.jpg");
}

.card.face-up.camping {
  background-image: url("../assets/camping.jpg");
}
.card.face-up.candy {
  background-image: url("../assets/candy.jpg");
}
.card.face-up.menorah {
  background-image: url("../assets/menorah.jpg");
}
.card.face-up.painting {
  background-image: url("../assets/painting.jpg");
}
.card.face-up.park {
  background-image: url("../assets/park.jpg");
}
.card.face-up.reading {
  background-image: url("../assets/reading.jpg");
}
.card.face-up.bath {
  background-image: url("../assets/bath.jpg");
}




@keyframes wiggle {
  0% {
    transform: rotate(0deg) translateY(-10px);
  }
  25% {
    transform: rotate(-1deg) translateY(-10px);
  }
  50% {
    transform: rotate(0deg) translateY(-10px);
  }
  75% {
    transform: rotate(1deg) translateY(-10px);
  }
  100% {
    transform: rotate(0deg) translateY(-10px);
  }
}

@keyframes spinAway {
  0% {
    transform: rotate(0deg) translateY(-10px) scale(1);
  }
  100% {
    transform: rotate(1280deg) translateY(-10px) scale(0);
  }
}
